# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*build*/
*dist*/
*.egg-info/
*.egg




# Virtual environment
.venv/
venv/
env/
ENV/

# Database persistence

# Environment variables
.env
chroma_db*/ # Ignore chroma_db_local, chroma_db_gemini, etc.

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo